[submodule "iaito_win32"]
	path = iaito_win32
	url = https://github.com/mrexodia/iaito_win32
[submodule "radare2"]
	path = radare2
	url = https://github.com/radare/radare2
	branch = 76448886cb808ddbac9684c3f0a7dcc6fe457e9a
